.form-item {
    margin-bottom: 0; 
  }
  
  .ant-form-item-label {
    margin-bottom: 4px;
  }
  
  .ant-form-item-control {
    margin-top: 0; 
  }
  
  /* Nếu cần điều chỉnh toàn bộ Form */
  .ant-form {
    margin: 0;
  }
  
  /* Điều chỉnh kích thước chữ của nhãn */
  .ant-form-item-label > label {
    font-size: 14px;
  }
  
 
  .ant-input,
  .ant-select-selector {
    font-size: 14px; 
  }
  .ant-col {
    padding: 0 8px; 
  }
  
  .ant-form-item {
    margin-bottom: 8px;
  }
  
  /* Điều chỉnh chiều rộng của cột */
  .ant-col span {
    flex: 1; 
  }
  