.pdt-product-detail-container {
    padding: 20px;
    background-color: #f9f9f9; /* Màu nền sáng để làm nổi bật nội dung */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pdt-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pdt-button-back {
    margin-bottom: 20px;
}

.pdt-product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex; /* Sử dụng flex để bố trí hàng */
    align-items: flex-start; /* Căn giữa theo chiều dọc */
    position: relative; 
}

.pdt-product-info {
   
    /* flex-grow: 1;  */
    margin-left: 50px;
}

.pdt-product-name {
    font-size: 30px;
   font-weight: 800;
    margin-bottom: 10px;
}

.pdt-product-item {
    margin: 8px 0; /* Khoảng cách giữa các mục */
}
.pdt-product-item-mota {
    margin: 8px 0; 
    max-width: 500px;
    font-style: italic;
    
}
.pdt-barcode-container {
    margin-top: 16px;
}

.pdt-action-buttons {
    position: absolute; /* Đặt vị trí tuyệt đối để nằm ở góc phải */
    top: 16px;
    right: 16px;
}

.pdt-edit-button {
    margin-right: 10px; /* Khoảng cách giữa nút chỉnh sửa và xóa */
}

/* Thêm các icon cho đơn vị và chuyển đổi */
.pdt-unit {
    display: flex; /* Bố trí các đơn vị và icon bên cạnh nhau */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin-top: 10px; /* Khoảng cách trên */
}
.pdt-unit-icon {
    margin-left: 5px; /* Khoảng cách giữa icon và tên đơn vị */
}
.pdt-divider {
    border: none;        
    height: 2px;        
    background-color: black; /* Màu đường kẻ */
    margin: 10px 0; 
    max-width: 100px;   
}
