

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Nền mờ cho overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .login-overlay.show {
    opacity: 1;
  }
  
  .login-modal {
    background: #fff; /* Nền trắng cho modal */
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(20px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .login-modal.show {
    transform: translateY(0);
    opacity: 1;
  }
  
  .login-content {
    display: flex;
    flex-direction: column;
  }
  
  .login-modal h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center; /* Căn giữa tiêu đề */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Đảm bảo form không vượt quá chiều rộng của modal */
  }
  
  .login-form label {
    margin: 10px 0 5px;
    font-weight: 500;
    text-align: left; /* Đưa các label về lề bên trái */
  }
  
  .login-form input {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    width: 100%; /* Đảm bảo input chiếm toàn bộ chiều rộng của form */
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước tổng thể của input */
  }
  
  .forgot-password {
    color: #007bff;
    margin-bottom: 20px;
    display: block;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  /* Nút button với gradient */
  .btn-submit, .btn-switch {
    background: linear-gradient(135deg, #007bff, #00c851); 
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background: linear-gradient(135deg, #0056b3, #009688); /* Gradient màu khi hover */
  }
  
  .switch-text {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-switch {
    background: transparent;
    color: #007bff;
    cursor: pointer;
    font-weight: 500;
  }
  
  .btn-switch:hover {
    text-decoration: underline;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  