.unit-manager {
    padding: 20px;
    background-color: #f7f7f7;
}

.unit-manager h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-unit-button {
    float: right;
    margin-bottom: 20px;
}

.header-form {
    margin-bottom: 20px;
}

.ant-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-list-item button {
    margin-left: 10px;
}
