.manager-page {
  width: 100%;
}


.header {
  display: flex;
  background: linear-gradient(to right, #007bff, #00d084);
  color: white;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  align-items: center;
}

.header-left {
  margin-left: 20px;
}

.btn-home {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.btn-home:hover {
  background-color: white;
  color: #007bff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  text-align: center;
  width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-card img {
  max-width: 100%;
  height: 150px;
  margin-bottom: 10px;
}

.product-info {
  flex-grow: 1;
  overflow: hidden;
}

.product-info h3 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-info p {
  margin: 5px 0;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 14px;
  color: #007bff;
}


.product-actions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 0 10px;
}

.btn-edit,
.btn-delete {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.btn-edit {
  background-color: #007bff;
  color: white;
}

.btn-edit:hover {
  background-color: #0056b3;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px; 
  display: flex;
  gap: 20px; 
  z-index: 101;
}


.modal img {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
}


.modal .product-details {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; 
}
.product-details-name{
  font-weight: bold;
}
.product-details-description{
  font-style: italic; 
}
.modal .product-details h3 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: bold; 
}

.modal .product-details p {
  margin: 5px 0;
  font-size: 14px;
}

/* Nút đóng modal */
.modal button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  align-self: flex-start; 
}

.modal button:hover {
  background-color: #0056b3;
}
