.cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc; 
    padding: 10px 0; 
    transition: filter 0.3s; 
}

.cartItemImage {
    width: 100px; 
    height: auto;
    margin-right: 10px; 
}

.productName {
    flex: 1; 
    cursor: pointer; 
    font-weight: 600;
}

.productDescription {
    font-size: 16px;
    font-style: italic;
}

.checkbox {
    margin-left: 10px;
}

.checkout {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 80%; 
    max-width: 500px; 
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px; 
}

.modalImage {
    width: 100%; 
    height: auto;
}

.productDetails {
    flex: 1; 
    margin-left: 10px;
    cursor: pointer; 
}

.quantity {
    margin: 5px 0; 
    opacity: 0.6;
}

.price {
    color: rgb(255, 0, 0); 
    font-weight: bold; 
}

