.orderItem {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .orderItem:hover {
    background-color: #e0f7fa;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .productItem {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
  }
  
  .productImage {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
  }
  
  .productInfo {
    flex: 1; 
  }
  
 
  .productDetails {
    display: flex; 
    align-items: center;
}
  