.container {
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Căn giữa tiêu đề */
  }
  
  .productList {
    list-style-type: none;
    padding: 0;
  }
  
  .productItem {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd; /* Viền mờ */
    border-radius: 5px; 
    margin-bottom: 10px;
    background-color: #f9f9f9; 
    transition: background-color 0.3s; 
  }
  
  .productItem:hover {
    background-color: #f0f0f0;
  }
  
  .productDetails {
    display: flex;
    align-items: center; 
    flex-grow: 1;
  }
  
  .productName {
    font-weight: bold;
    margin-right: 10px;
    flex: 1;
  }
  
  .productQuantity {
    color: #888; 
  }
  
  .deleteButton {
    background-color: transparent; 
    color: black;
    border: none; 
    cursor: pointer; 
    transition: color 0.3s; 
    font-size: larger;
  }
  
  .deleteButton:hover {
    color: #ff4d4d; 
  }
  
  /* Styles cho modal */
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%; 
    max-width: 600px; 
  }
  
  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  